"*":
  build:
    saveOnBuild: true
    scrollOnError: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
    ]
    telemetryConsent: "limited"
  "default-language":
    defaultLanguage: "Shell Script"
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "a523c980-c26e-d6b3-6867-4153e0638e82"
  linter:
    errorPanelHeight: 22
  "linter-rust": {}
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  racer:
    racerBinPath: "/home/gib/src/racer/target/release/racer"
    rustSrcPath: "/home/gib/src/rust/src"
  welcome:
    showOnStartup: false
