<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>co.fahn.gib.hidutil</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/gib/bin/hid</string>
    </array>

    <key>StandardErrorPath</key>
    <string>/var/log/co.fahn.gib.hidutil.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/co.fahn.gib.hidutil.log</string>

    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>600</integer>

</dict>
</plist>
