run_if_cmd: ["/bin/sh", "-cex", '[ "$(whoami)" = gib -a "$(uname)" = Darwin ] || exit 204']
run_lib: defaults
data:
  NSGlobalDomain:
    # Set up fastest key repeat rate (needs relogin). Default 2.
    KeyRepeat: 1
    # Sets a low time before key starts repeating (default 15).
    InitialKeyRepeat: 8

    # Use Dark mode.
    AppleInterfaceStyle: Dark
    # Don't brighten window contents (better contrast in Dark Mode).
    # System Settings > General > Allow wallpaper tinting in windows (true here means uncheck the tickbox).
    AppleReduceDesktopTinting: true

    # Auto-hide menu bar.
    _HIHideMenuBar: true

    # Hide menu bar even in full-screen apps.
    AppleMenuBarVisibleInFullscreen: false

    # Add a context menu item for showing the Web Inspector in web views
    WebKitDeveloperExtras: true

    # Disable the animations for opening Quick Look windows
    QLPanelAnimationDuration: 0.0

    # Set sidebar icon size to medium
    NSTableViewDefaultSizeMode: 2

    # Increase window resize speed for Cocoa applications
    NSWindowResizeTime: 0.001

    NSUserKeyEquivalents:
      # Create global shortcut "Merge all windows" ⌘-M
      "Merge All Windows": "@$m"

  com.apple.dock:
    # Auto-hide dock.
    autohide: true

    # Have the Dock only show apps currently running.
    static-only: true

    # Make the dock appear instantly.
    # https://simcityltd.medium.com/how-to-get-the-perfect-macos-dock-b2593f9c0f0b
    autohide-delay: 0.0
    autohide-time-modifier: 0.25

    # Speed up Mission Control animations
    expose-animation-duration: 0.1

    # Don’t animate opening applications from the Dock
    # launchanim: false

  com.apple.ActivityMonitor:
    # Show all processes in Activity Monitor
    ShowCategory: 0

  com.apple.HIToolbox:
    # Enable dictation with double-tap of Fn button (1 to enable).
    AppleDictationAutoEnable: 1
    # System Settings > Keyboard > Press Function key to: (disable to make it change input source).
    # This makes it switch language.
    AppleFnUsageType: 1

  com.apple.Safari:
    # Enable Safari’s debug menu
    IncludeInternalDebugMenu: true
    # Enable Safari’s debug menu
    # Prevent Safari from opening ‘safe’ files automatically after downloading
    AutoOpenSafeDownloads: false
    # Default to saving files in ~/tmp.
    NSNavLastRootDirectory: "~/tmp"
    # Settings > Tabs > Tab Layout > Separate (not Compact)
    ShowStandaloneTabBar: true
    # Settings > Tabs > Always show website titles in tabs > Checked
    EnableNarrowTabs: false

  # Change Sogou keyboard layout to Colemak:
  # ⚙ -> 偏好号设置 -> 按键 -> 键盘布局 -> 其他键盘 -> Colemak
  "~/Library/Application Support/Sogou/InputMethod/SogouPY/UserPreferences.plist":
    keyboardSelected: com.apple.keylayout.Colemak

  # Show how long builds take in Xcode.
  # https://macos-defaults.com/xcode/showbuildoperationduration.html
  com.apple.dt.Xcode:
    ShowBuildOperationDuration: true

  # iTerm2 terminal emulator.
  com.googlecode.iterm2:
    # Tell iTerm2 to load configs from my dotfiles.
    PrefsCustomFolder: /Users/gib/code/dot/config/iTerm2

  # Settings > Keyboard > Dictation
  com.apple.speech.recognition.AppleSpeechRecognition.prefs:
    # Cmd-Alt-Ctrl-Shift-d (⌘⌥⌃⇧d) to trigger. Set in Hammerspoon.
    # For some painful reason this doesn't take effect on new machines unless you go into System Settings > Keyboard
    # and select the customized key manually.
    CustomizedDictationHotKey:
      keyChar: 100
      virtualKey: 5
      modifiers: 1966080
