@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide the native tabbar */
#TabsToolbar {
    visibility: collapse;
}

/* Hide the sidebar header */
#sidebar-header {
    visibility: collapse;
}

/* Don't render loading circle for hidden tab bar */
.tab-throbber[busy] {
  display: none;
}

.tab-throbber[progress] {
  display: none;
}
